# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules

# swagger output
swagger_output.json

# env files
.env.local
.env.development.local
.env.test.local
.env.production.local

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
bin/
